extends layout

block content
  h1 Lista Completa
  .row
    .col-12.col-md-3
      ul
        li
          a(href='/personaje/1') Rick Sanchez
        li
          a(href='/personaje/2') Morty Smith
        li
          a(href='/personaje/3') Summer Smith
        li
          a(href='/personaje/4') Beth Smith
        li
          a(href='/personaje/5') Jerry Smith
        li
          a(href='/personaje/6') Abadango Cluster Princess
        li
          a(href='/personaje/7') Abradolf Lincler
        li
          a(href='/personaje/8') Adjudicator Rick
        li
          a(href='/personaje/9') Agency Director
        li
          a(href='/personaje/10') Alan Rails
        li
          a(href='/personaje/11') Albert Einstein
        li
          a(href='/personaje/12') Alexander
        li
          a(href='/personaje/13') Alien Googah
        li
          a(href='/personaje/14') Alien Morty
        li
          a(href='/personaje/15') Alien Rick
        li
          a(href='/personaje/16') Amish Cyborg
        li
          a(href='/personaje/17') Annie
        li
          a(href='/personaje/18') Antenna Morty
        li
          a(href='/personaje/19') Antenna Rick
        li
          a(href='/personaje/20') Ants in my Eyes Johnson
  script.
    let form = document.querySelector('li');
    let button = document.querySelector('a');
    button.addEventListener('click', () => {
      let value = document.querySelector('href').value;
      let url = '/personaje/' + value;
      window.location.href=url;
    })


