extends layout

block content
    h1 Vista del Personaje
    #container
        each personaje in personajes
            .card(style='width: 18rem;')
                img.card-img-top(src=personaje.image alt='...')
                .card-body
                h5.card-title
                    = personaje.name
                p.card-text
                    = personaje.gender
                p.card-text
                    = personaje.created
                a.card-link(href='#') Card link
                a.card-link(href='#') Another link
